
p {
  margin: 0 0 10px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: auto;
}

.display {
  width: 50%;
  float: left;
}

.pidChar {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
}

.diffChar {
  background: lightgray;
  display: inline-block;
  padding: 0 2px;
  font-size: 12px;

  &.newChar {
    font-weight: bolder;
    background: lightgreen;
    border: 1px solid green;
  }
}
